.transaction-item-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  background: #3e4d6e;
  padding: 15px;
  /* box-shadow: 6px 3px 9px rgb(83 83 83 / 49%); */
  box-shadow: 9px 9px 31px rgb(0 0 0 / 61%);
  border-radius: 4px;
}
.transaction-category {
  color: #ffffff;
}
.transaction-actions {
  display: flex;
  gap: 30px;
  align-items: center;
}
.transaction-actions button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}
.transaction-actions .edit {
  background-color: cadetblue;
}
.transaction-actions .delete {
  background-color: #c95c5c;
}
.transaction-amount {
  font-size: large;
  font-weight: 600;
}
.transaction-amount.gain {
  color: #7dd68a;
}
.transaction-amount.loss {
  color: #ff9090;
}
