.expense-card {
  padding: 20px 90px;
  background-color: #f8fafc;
  border-radius: 4px;
  box-shadow: 3px 3px 150px rgba(0, 0, 0, 0.3);
}
.expense-card h3 {
  font-size: x-large;
}
.expense-card p {
  color: #c86e07;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
