header {
  display: flex;
  background-color: #f8fafc;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}
nav {
  width: 100vw;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 50px;
  align-items: center;
  color: aliceblue;
  font-family: "Inter", sans-serif;
}
nav .nav-link {
  color: #374151;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
nav .nav-link.active {
  /* color: #e19002; */
  color: #16a34a;
  font-weight: 600;
  text-decoration: overline;
}
